@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Titillium Web', sans-serif;

}

.container{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url("images/background-image.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    }
    


.nav-bar img{
width: 120px;
height: 120px;
padding-top: -32px;

}


.nav-bar{
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar ul{
    list-style: none;
    display: flex;
    column-gap: 15px;
    padding-top: 45px;
    padding-right: 25px;
}


.nav-bar ul li a{
    color: white;
    text-decoration: none;
    transition: ease 0.7s;
}

.nav-bar ul li a:hover{
    color: rgb(27, 26, 26);

}

p{
    font-size: 10px;
    color: white;
    line-height: 10px;
}



.col{
    flex-basis: 50%;
    margin-top: 75px;
}





.col.col-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 15px;
}



.row{
    display: flex;
    align-items: center;
    padding-left: 25px;
   
}

h1{
    color: white;
    font-size: 100px;
}

h5{
    color: white;
}

.desc{
    color: white;
    font-size: 15px;
}

.btn{
    padding: 8px;
    font-size: small;
    cursor: pointer;
    background-color: transparent;
    border-radius: 15px;
    border-color: white;
    color: white;
    transition: ease 0.5s;
    text-decoration: none;
    }


.btn:hover{
    color: rgb(188, 174, 174);

}


.cards{
    max-width: 500px;
    margin: auto;
    display: flex;
}





.card{
    width: 225px;
    height: 300px;
    display: inline-block;
    border-radius: 35px;
    background-image: center;
    background-size: cover;
    cursor: pointer;
    transition: ease 0.7s;
    
}

.card:hover{
    transform: translateY(-10px);
}


.card-head{
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    padding: 15px;
    
}

.card-head p{
    font-size: 10px;
}

.card .card-bottom{
    position: absolute;
    padding-top: 225px;
}

.card.card-1{
    background-image: url(images/no_country_for_old_men.jpg);
}

.card.card-2{
    background-image: url(images/memories_of_murder.jpg);
}

.card.card-3{
 background-image: url(images/blade_runner.jpg);
}